.rating-stars {
  display: inline-block;
  position: relative;
  width: 105px;/*px*/
  height: 36px;/*px*/
  margin-right: 10px;
}

.rating-yellow,
.rating-gray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 8px;/*px*/
  display: flex;
  box-lines: multiple;
  overflow: hidden;
  box-sizing: border-box;

  > i {
    display: block;
    width: 20px;/*px*/
    height: 20px;/*px*/
    margin-right: 1px;
    background-size: 20px;/*px*/
  }
}

.gray-star {
  background-image: url('../../assets/douban-gray-star.png');
}

.yellow-star {
  background-image: url('../../assets/douban-yellow-star.png');
}